{% extends 'femitex/base.html' %}
{% block main-content %}

<div class="container">
  {% if messages %}
        {% for message in messages %}
            <div style="background-color: green; border-radius: 20px;" class="col-4 m-auto">
                <div class="p-4">
                    {{message}}
                </div>
              </div>
        {% endfor %}
    {% endif %}
  <div class="row">
    <div class="col-10 m-auto">
      {% for post in posts %}

      <div class=" m-4 mb-2" style="border-radius: 20px; background-color: #dee6ec">
        <h3>{{post.title}}</h3>
        <p>{{post.date_created}}</p>
        <p>{{post.owner.username}}</p>
        <a class="btn btn-sm btn-outline-info" href="{% url 'detailpage' post.id %}"> Read more</a>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock main-content %}
